<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页面</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>
        <td>id</td>
        <td>姓名</td>
        <td>性别</td>
        <td>年龄</td>
        <td colspan="2">操作</td>
    </tr>
    </thead>
    <tbody>
    {% for user in user_queryset %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.sex }}</td>
            <td>{{ user.age }}</td>
            <td><a href="/add/{{dep.id}}">增加</a> </td>
            <td><a href="/add/{{dep.id}}">修改</a> </td>
        </tr>
    {% endfor %}


    </tbody>
</table>
</body>
</html>